body {
	margin: 0;
	background-color: #6223d2;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	font-family: Monaco, monospace;
}

/* .overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 2;
	background: radial-gradient(
		circle,
		transparent 0%,
		rgba(98, 35, 210, 0.85) 100%
	);
} */

.app {
	display: flex;
}

.sidebar {
	width: 300px;
	background-color: rgb(65, 65, 65);
	color: white;
	height: 100vs !important; /* override ResizableBox */
}

.special-input {
	display: flex;
	width: 100%;
	padding-right: 0px;
	margin-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
}

.special-input * {
	border-radius: 0;
}

.special-input input {
	flex-grow: 1;
	margin-right: 0px;
	vertical-align: center;
}

.special-input a {
	margin-left: 0px;
	border: 1px solid #cccccc;
	vertical-align: middle;
	cursor: pointer;
}

.special-input span,
a {
	display: inline-block;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.content-container {
	color: white;
	background-color: grey;
	height: 100vh;
	flex-grow: 1;
	display: flex;
}

.content-container video {
	width: 100%;
	height: auto;
	max-height: 100vh;
}
.content-container img {
	object-fit: contain;
	width: 100%;
	height: auto;
}

.delta-container > * {
	margin-bottom: 5px;
}

.delta-container .card-header {
	padding: 0;
}

.added-tag {
	background-color: green;
}

.removed-tag {
	background-color: red;
}

.tag-header {
	display: flex;
}

.tag-header .fat-child {
	width: 100%;
}

button.truncate {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.tag-container {
	display: flex;
	flex-wrap: wrap;
}

.tag-container > * {
	margin: 5px;
	height: 30px;
}

.tag-container button.truncate {
	max-width: 150px;
}

.tag-container-container {
	height: 250px;
	overflow-y: scroll;
}

.tag-input-container {
	margin-top: 10px;
	background-color: black;
	margin-bottom: 10px;
}
